  <ul class="sidebar-menu">
    <li id="link-rta-page-1" class="active"><a href="#" name="rta-page-1"><i class="fa fa-dashboard"></i> <span>Page 1</span></a></li>
    <li id="link-rta-page-2"><a href="#" name="rta-page-2"><i class="fa fa-pie-chart"></i> <span>Page 2</span></a></li>
    <li class="treeview">
      <a href="#"><i class="fa fa-th"></i> <span>External Links</span> <i class="fa fa-angle-left pull-right"></i></a>
      <ul class="treeview-menu">
        <li><a href="http://www.link1.com" target="_blank">Link1</a></li>
        <li><a href="http://www.link2.com" target="_blank">Link2</a></li>
      </ul>
    </li>
  </ul>

